body {
    margin:0;
    font-family:sans-serif;
}
h1 {
    margin: 0;
}

.header {
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#fff;
}

nav ul {
    display:flex;
    gap:20px;
    list-style:none;
}

.hero {
    height:60vh;
    background:#eee;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
}

.products {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:80px;
}

.product img {
    width:100%;
}

footer {
    text-align:center;
    padding:40px;
    background:#111;
    color:#fff;
}